<div class="container mx-auto p-4">
    <h2 class="text-xl font-bold mb-4">Editar Contacto</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <label for="nombre" class="block text-sm font-medium">Nombre:</label>
        <input
          id="nombre"
          formControlName="nombre"
          type="text"
          class="border p-2 rounded w-full"
        />
        @if (isValidField('nombre')) {
          <span class="text-red-600 text-sm">Debe tener al menos 3 letras.</span>
        }
      </div>
      <div>
        <label for="email" class="block text-sm font-medium">Email:</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          class="border p-2 rounded w-full"
        />
        @if (isValidField('email')) {
          <span class="text-red-600 text-sm">Debe ser un email.</span>
        }
      </div>
      <div>
        <label for="telefono" class="block text-sm font-medium">Teléfono:</label>
        <input
          id="telefono"
          formControlName="telefono"
          type="text"
          class="border p-2 rounded w-full"
        />
        @if (isValidField('telefono')) {
          <span class="text-red-600 text-sm">Debe ser un teléfono válido.</span>
        }
      </div>
      <div>
        <label for="direccion" class="block text-sm font-medium">Dirección:</label>
        <input
          id="direccion"
          formControlName="direccion"
          type="text"
          class="border p-2 rounded w-full"
        />
        @if (isValidField('direccion')) {
          <span class="text-red-600 text-sm">Es obligatorio este campo.</span>
        }
      </div>
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >
        Guardar
      </button>
    </form>
  </div>
  